<h2>Admin Users</h2>

<div class="col-md-4">
    <table id="admin-user-table" class="table table-condensed  table-bordered table-striped table-hover">

        <thead>
        <tr>
            <th data-visible="false" data-identifier="true" data-column-id="_id">ID</th>
            <th contenteditable='true' data-column-id="email" >E-Mail</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
        </tr>
        </thead>
        <tbody>
        {{#each adminusers}}
            <tr>
                <td>{{_id}}</td>
                <td contenteditable='true'>{{email}}</td>
                <td></td>
            </tr>
        {{/each}}


        </tbody>
    </table>
    <button onclick="addUserRow()" type="button" class="btn btn-default">
        Add user
    </button>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script src="js/bootbox.js"></script>
<script src="js/mindmup-editabletable.js"></script>

<script>
    $(document).ready(function () {

        var grid = $("#admin-user-table").bootgrid({
            ajax: false,
            selection: false,
            multiSelect: true,
            columnSelection: false,
            rowSelect: false,
            rowCount: -1, // do not limit number of displayed rows
            keepSelection: true,
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-primary command-edit\" data-row-id=\"" + row._id + "\">Rediger</button> " +
                            "<button type=\"button\" class=\"btn  btn-xs  btn-danger command-delete\" data-row-id=\"" + row._id + "\">Slett</button>";
                },
                "editable": function(column, row) {
                    return "<div contenteditable=\"true\">" + row[column.id] + "</div>";
                }
            }


        }).on("selected.rs.jquery.bootgrid", function (e, rows) {
            var rowIds = [];
            for (var i = 0; i < rows.length; i++) {
                rowIds.push(rows[i].id);
            }
            alert("Select: " + rowIds.join(","));
        }).on("deselected.rs.jquery.bootgrid", function (e, rows) {
            var rowIds = [];
            for (var i = 0; i < rows.length; i++) {
                rowIds.push(rows[i].id);
            }
            alert("Deselect: " + rowIds.join(","));
        }).on("loaded.rs.jquery.bootgrid", function () {

            grid.find(".command-edit").on("click", function (e) {

            }).end().find(".command-delete").on("click", function (e) {
                var id = $(this).data("row-id");
                bootbox.confirm("Er du sikker på at du vil slette brukeren?", function (result) {
                    if (result) {
                        console.log("Deleting:" + id);
                        deleteUser(id);
                        $("#admin-user-table").bootgrid('remove', [id]);
                    }

                });
            });

        });


    });


    function addUserRow() {
        $("#admin-user-table").bootgrid('append',' <tr id="newAdminUserRow"><td></td ></tr> ' );
    }

    function deleteUser(id){
        jQuery.ajax({
            url: "/api/admin-users/" + id,
            type: "DELETE",
            success: function (data, textStatus, jqXHR) {
                console.log("Delete response:");
                console.dir(data);
                console.log(textStatus);
                console.dir(jqXHR);
            }

        });
    }



</script>