

<div class="col-md-2">
    <button onclick="syncDatabase()" type="button" class="btn btn-primary">
        Synkroniser database
    </button>
    <div class="progress">
        <div id="progress_user" class="progress-bar" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span class="sr-only">10% Complete</span>
        </div>
    </div>
    <div class="progress">
        <div id="progress_cv" class="progress-bar" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span class="sr-only">10% Complete</span>
        </div>
    </div>
</div>


<div class="col-md-2">
    <button onclick="deleteDatabase()" type="button" class="btn btn-primary">
        Slett database
    </button>
    <div class="progress">
        <div id="progress_deletedb" class="progress-bar" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span class="sr-only">10% Complete</span>
        </div>
    </div>

</div>


<script src="/socket.io/socket.io.js"></script>
<script>


    io = io.connect();

    // Emit ready event.
    //  io.emit('{{action}}');

    // Listen for the talk event.
    io.on('user', function (data) {
        console.log(data);
        setProgress('user', data.progress);

        if (data.finished) {
            setProgressClass('user', 'progress-bar progress-bar-success');
        }

    });

    io.on('cv', function (data) {
        console.log(data);
        setProgress('cv', data.progress);

        if (data.finished) {
            setProgressClass('cv', 'progress-bar progress-bar-success');
        }

    });

    io.on('deletedb', function (data) {
        console.log(data);
        setProgress('deletedb', data.progress);

        if (data.finished) {
            setProgressClass('deletedb', 'progress-bar progress-bar-success');
        }

    });

    function syncDatabase() {
        setProgress('user', 0);
        setProgress('cv', 0);
        setProgressClass('user', 'progress-bar');
        setProgressClass('cv', 'progress-bar');

        io.emit('copydb');
    }

    function deleteDatabase() {
        setProgress('deletedb', 0);
        setProgressClass('deletedb', 'progress-bar');
        io.emit('deletedb');
    }

    function setProgressClass(id, clazz){
        document.querySelector('#progress_' + id).setAttribute('class', clazz);
    }
    function setProgress(id, progress) {
        var progressString = 'width: ' + progress + '%;';
        document.querySelector('#progress_' + id).setAttribute('style', progressString);
    }

</script>
