<div class="col-md-6">

    <div class="col-md-4">
        <button onclick="syncDatabase()" type="button" class="btn btn-primary">
            Synkroniser database
        </button>
        <div class="progress">
            <div id="progress_user" class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">10% Complete</span>
            </div>
        </div>
        <div class="progress">
            <div id="progress_cv" class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">10% Complete</span>
            </div>
        </div>

        <button onclick="deleteDatabase()" type="button" class="btn btn-primary">
            Slett database
        </button>
        <div class="progress">
            <div id="progress_deletedb" class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">10% Complete</span>
            </div>
        </div>

    </div>
    <div>
        <table class="table table-condensed table-hover table-striped apply-bootgrid">
            <thead>
            <tr>
                <th>Når</th>
                <th>Hva</th>
                <th data-column-id="Comment" data-visible="false">Kommentar</th>
            </tr>
            </thead>
            <tbody id="dblog-table" >
            </tbody>
        </table>


    </div>


</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/handlebars-1.0.rc.1.min.js"></script>

<script id="dblog-template" type="text/x-handlebars-template">
    <tr>
        <td>\{{entry.when}}</td>
        <td>\{{entry.what}}</td>
        <td>\{{entry.comment}}</td>
    </tr>
</script>

<script>

    io = io.connect();

    var source = $("#dblog-template").html();
    var template = Handlebars.compile(source);

    $(document).ready(function () {
        console.log('LASTET');
        $.get("/dblog", function (log) {
            log.forEach( function(entry){
                var result = template({entry: entry});
                $("#dblog-table").prepend(result);
            });
        });
    });

    // Listen for the user event.
    io.on('user', function (data) {
        console.log(data);
        setProgress('user', data.progress);

        if (data.finished) {
            setProgressClass('user', 'progress-bar progress-bar-success');
        }

    });

    io.on('cv', function (data) {
        console.log(data);
        setProgress('cv', data.progress);

        if (data.finished) {
            setProgressClass('cv', 'progress-bar progress-bar-success');
        }

    });

    io.on('deletedb', function (data) {
        console.log(data);
        setProgress('deletedb', data.progress);

        if (data.finished) {
            setProgressClass('deletedb', 'progress-bar progress-bar-success');
        }

    });

    function syncDatabase() {
        setProgress('user', 0);
        setProgress('cv', 0);
        setProgressClass('user', 'progress-bar');
        setProgressClass('cv', 'progress-bar');

        io.emit('copydb');
    }

    function deleteDatabase() {
        setProgress('deletedb', 0);
        setProgressClass('deletedb', 'progress-bar');
        io.emit('deletedb');
    }

    function setProgressClass(id, clazz) {
        document.querySelector('#progress_' + id).setAttribute('class', clazz);
    }
    function setProgress(id, progress) {
        var progressString = 'width: ' + progress + '%;';
        document.querySelector('#progress_' + id).setAttribute('style', progressString);
    }

</script>
