<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MForce Admin</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/mforce.css">

    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
<section id="mforceadminapp"></section>

<div class="col-md-8">
    <footer id="info">
        <p>Admin tool for MForce</p>
    </footer>
</div>
<script src="js/bundle.js"></script>
</body>
</html>
