<h2>User tags</h2>
<div class="row" style="margin: 6% 30% 0 3%;">
    <div id="tag-display">
        <div id="tags" style="min-height: 15px">{{tagss}}</div>
        <div id="edit-button" style="margin-top: 2%;
    text-align: left;"><button id="editTag" type="button"class="btn btn-primary">Update Tags</button></div>
    </div>
        <div id="tag-edit" style="display: none">
            <div>
                    <div class="form-group">
                        <textarea id="inputtags" class="form-control" rows="3"></textarea>
                    </div>
            </div>
            <div  style="text-align: right;position: relative">
                <button id="save-button" type="button" class="btn btn-primary">Save</button>
                <button id="cancel-button" type="button" class="btn btn-default">Cancel</button>

            </div>
        </div>
    <div class="col-md-2"></div>
</div>
<script src="../js/Mforce-admin/usertag.js"></script>